[Desktop Entry]
Categories=Audio;AudioVideo;Midi;
Exec=pipewire-proaudio-config
Icon=pipewire-proaudio-config
Name=PipeWire ProAudio Config
StartupWMClass=org.xivastudio.pipewire-proaudio-config
Name[bg]=Конфигурация на PipeWire ProAudio
Name[cs]=Konfigurace PipeWire ProAudio
Name[da]=PipeWire ProAudio Konfiguration
Name[de]=PipeWire ProAudio Konfiguration
Name[el]=Ρύθμιση PipeWire ProAudio
Name[es]=Configuración de PipeWire ProAudio
Name[et]=PipeWire ProAudio Seadistamine
Name[fi]=PipeWire ProAudio Asetukset
Name[fr]=Configuration PipeWire ProAudio
Name[he]=תצורת PipeWire ProAudio
Name[hr]=Konfiguracija PipeWire ProAudio
Name[hu]=PipeWire ProAudio Beállítás
Name[is]=PipeWire ProAudio Stillingar
Name[it]=Configurazione PipeWire ProAudio
Name[ja]=PipeWire ProAudio 設定
Name[ko]=PipeWire ProAudio 설정
Name[nl]=PipeWire ProAudio Configuratie
Name[no]=PipeWire ProAudio Oppsett
Name[pl]=Konfiguracja PipeWire ProAudio
Name[pt]=Configuração do PipeWire ProAudio
Name[ro]=Configurare PipeWire ProAudio
Name[ru]=Конфигурация PipeWire ProAudio
Name[sk]=Konfigurácia PipeWire ProAudio
Name[sv]=PipeWire ProAudio Konfiguration
Name[tr]=PipeWire ProAudio Yapılandırması
Name[uk]=Конфігурація PipeWire ProAudio
Name[zh]=PipeWire ProAudio 配置
StartupNotify=true
Terminal=false
Type=Application
